<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
        <title>Brainly Search</title>
    </head>

    <body>
        <a href="/"><h1>Search</h1></a>
        <form id="query_form" action="#" method="POST">
            <input type="text" name="query_input" placeholder="Search Input" onpaste="submit_query()" autofocus autocomplete="false" />
            <input type="text" name="query_site" placeholder="Specify Site" value="brainly.com quizlet.com" autocomplete="false" />
            <input type="number" name="result_number" placeholder="Result Number" value="5" min="1" max="100" autocomplete="false" />
            <input type="submit" value="Google Search" />
        </form>

        {% block query_result %} {% endblock %}

        <footer>
            <h3>Useful Websites</h3>
            <a target="_blank" rel="noopener noreferrer" href="https://wordcounter.net/">Word Counter</a>
            <a target="_blank" rel="noopener noreferrer" href="http://www.textinflator.com/">Text Inflator</a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.textcompactor.com/">Text Compator</a>
            <a class="warning" target="_blank" rel="noopener noreferrer" href="https://www.tampermonkey.net/">Tampermonkey</a>
            <a class="warning" target="_blank" rel="noopener noreferrer" href="https://greasyfork.org/en/scripts/422892-brainly-unlocker"> Brainly Answer Unlocker (Require Tampermonkey) </a>
            <a class="warning" target="_blank" rel="noopener noreferrer" href="https://greasyfork.org/en/scripts/447040-quizlet-show-hidden-flashcards"> Show Hidden Quizlet Flash Cards Without Logging in (Require Tampermonkey) </a>
        </footer>

        <script>
            function submit_query() {
                setTimeout(() => {
                    document.getElementById("query_form").submit();
                });
            }
        </script>
    </body>
</html>
